section.content
  .heading-container
    h2(style="color: black; display: inline;") Наші 
    h2(style="color: orange; display: inline;") тури
  .blocks
    .block
      a(href='page2_1.html')
        img(src=require('.//image/Group1.png') alt="group1")
    .block
      a(href='page2_2.html')
        img(src=require('.//image/Group2.png') alt="group2")
    .block
      a(href='page2_3.html')
        img(src=require('.//image/Group3.png') alt="group3")
    .block
      a(href='page2_4.html')
        img(src=require('.//image/Group4.png') alt="group4")
