

footer
    .footer_logo_menu
        .logo
            img(src=require('.//image/logo.png') alt="logo")
    .graphic
        p.foot-hours Робочі години
        p 9:00-18:00
    .contact 
       
        p.foot-contact theTour@gmail.com
        p +38 (050)-25-25-55
